@using System.Collections.Generic
@using FPDinner.Models
@model OrderingViewModel
@{
    ViewBag.Title = "Dinner";
    var salads = new List<Salad> { null }.Concat(Model.Menu.Salads);
	var saladList = new SelectList(salads, "Id", "Name", Model.Order.SaladIds[1]);
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Now you can place your order for additional salad.
            </p>
        </div>
    </section>
}
@using(Html.BeginForm("order2", "home")){
@Html.HiddenFor(m => m.Order.Id)
@Html.HiddenFor(m => m.Order.MenuId)
<ol class="round">

    <li class="one">
        @Html.HiddenFor(m=> m.Order.SaladIds[0])
        @Html.LabelFor(m => m.Order.SaladIds[1], "Salad")
        @Html.DropDownListFor(m => m.Order.SaladIds[1], saladList)
    </li>

    <li class="two">
        <input type="submit" name="submit" value="Order!" />
    </li>
</ol>
}